# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# NuGet
packages/

# Build results
[Dd]ebug/
[Rr]elease/

# Arduino
01_Firmware/build/

# OS
.DS_Store
Thumbs.db
desktop.ini
.DS_Store
